<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'fragments/navbar.html' %}

<div class="container align-items-center justify content center">

    <h3 class="pt-5 pb-3">Password Cracker</h3>
    <form action="{{ url_for('crack_password') }}" method="post">
        <div class="form-group">
            <label for="input" class="pb-2">Write your MD5 or SHA-256 hash:</label>
            <input type="text" id="input" name="input" class="form-control input-box">
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
    </form>

    {% if submitted %}
        <div>
            {% if cracked_password is not none %}
                <div class="pt-3">
                    <p>Your Hash: <span>{{ input }}</span></p>
                    <p>Your Password: <span>{{ cracked_password }}</span></p>
                </div>
            {% else %}
                <div class="pt-3">
                    <p>Password not found for the provided hash.</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>